<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "fi.vugi.mobile.webapp.test"
	version 	= "0.0.1">

	<name>Mobile WebApp test</name>

	<description>
		A cross-platform mobile web application test.
	</description>

	<author href="http://vugi.iki.fi"
		email="antti.vuorela@iki.fi">
		Antti Vuorela
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />
	<gap:splash src="splash-image-320x460" width="320" height="460" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
</widget>
